/*
 * CSS stylesheet for CMPI pages project.
 */

body {
	background: white;
	color: black;
	font-family: 'Lucida Grande',Verdana,sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	margin: 0;
	padding: 1;
}

#sidebar {
	float: left;
	width: 11em;
	padding: 1em;
	position: fixed;
	top: 70px;
  height: 100%;
}
@media all and (max-height: 600px) {
  /* Things inside here will only have an effect if the browser window has less
     than max-height. */
  #sidebar {
    position: absolute;
  }
}

#content {
	margin-left: 13em;
	margin-right: 1em;
}
#header {
	float: right;
	width: 100%;
}
#footer {
	float: right;
	width: 100%;
}
a:link {
	background: transparent;
	color: #006699;
}
a:visited {
	background: transparent;
	color: #886699;
}
img { 
	border: none;
}
div.navitem {
	margin-top: 4px;
	margin-bottom: 4px;
}
h4.navitem {
	margin-top: 24px;
	margin-bottom: 8px;
}
li {
	margin-top: 6px;
	margin-bottom: 6px;
}
hr {
	margin-top: 12px;
	margin-bottom: 12px;
}
